USE [master]
GO
/****** Object:  Database [Ecommerce_DWH]    Script Date: 21/05/2026 3:47:55 SA ******/
CREATE DATABASE [Ecommerce_DWH]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Ecommerce_DWH', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Ecommerce_DWH.mdf' , SIZE = 139264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Ecommerce_DWH_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Ecommerce_DWH_log.ldf' , SIZE = 729088KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Ecommerce_DWH].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Ecommerce_DWH]
GO
/****** Object:  Table [dbo].[Dim_Customer]    Script Date: 21/05/2026 3:47:55 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Customer](
	[CustomerKey] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NULL,
	[FirstName] [nvarchar](100) NULL,
	[LastName] [nvarchar](100) NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [nvarchar](255) NULL,
	[Street] [nvarchar](255) NULL,
	[City] [nvarchar](100) NULL,
	[State] [nvarchar](100) NULL,
	[ZipCode] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Date]    Script Date: 21/05/2026 3:47:55 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Date](
	[DateKey] [int] NOT NULL,
	[FullDate] [date] NULL,
	[DayNumber] [int] NULL,
	[MonthNumber] [int] NULL,
	[MonthName] [nvarchar](20) NULL,
	[QuarterNumber] [int] NULL,
	[YearNumber] [int] NULL,
	[WeekDayName] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[DateKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Product]    Script Date: 21/05/2026 3:47:55 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Product](
	[ProductKey] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NULL,
	[ProductName] [nvarchar](255) NULL,
	[BrandName] [nvarchar](100) NULL,
	[CategoryName] [nvarchar](100) NULL,
	[ModelYear] [int] NULL,
	[ListPrice] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Staff]    Script Date: 21/05/2026 3:47:55 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Staff](
	[StaffKey] [int] IDENTITY(1,1) NOT NULL,
	[StaffID] [int] NULL,
	[FirstName] [nvarchar](100) NULL,
	[LastName] [nvarchar](100) NULL,
	[Email] [nvarchar](255) NULL,
	[Phone] [nvarchar](50) NULL,
	[ActiveStatus] [bit] NULL,
	[StoreID] [int] NULL,
	[ManagerID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[StaffKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Store]    Script Date: 21/05/2026 3:47:55 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Store](
	[StoreKey] [int] IDENTITY(1,1) NOT NULL,
	[StoreID] [int] NULL,
	[StoreName] [nvarchar](255) NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [nvarchar](255) NULL,
	[Street] [nvarchar](255) NULL,
	[City] [nvarchar](100) NULL,
	[State] [nvarchar](100) NULL,
	[ZipCode] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[StoreKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fact_Inventory]    Script Date: 21/05/2026 3:47:55 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fact_Inventory](
	[InventoryKey] [bigint] IDENTITY(1,1) NOT NULL,
	[ProductKey] [int] NULL,
	[StoreKey] [int] NULL,
	[Quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[InventoryKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fact_Sales]    Script Date: 21/05/2026 3:47:55 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fact_Sales](
	[SalesKey] [bigint] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NULL,
	[DateKey] [int] NULL,
	[CustomerKey] [int] NULL,
	[ProductKey] [int] NULL,
	[StoreKey] [int] NULL,
	[StaffKey] [int] NULL,
	[Quantity] [int] NULL,
	[UnitPrice] [decimal](18, 2) NULL,
	[Discount] [decimal](5, 2) NULL,
	[Revenue] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[SalesKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Fact_Inventory]  WITH CHECK ADD  CONSTRAINT [FK_FactInventory_Product] FOREIGN KEY([ProductKey])
REFERENCES [dbo].[Dim_Product] ([ProductKey])
GO
ALTER TABLE [dbo].[Fact_Inventory] CHECK CONSTRAINT [FK_FactInventory_Product]
GO
ALTER TABLE [dbo].[Fact_Inventory]  WITH CHECK ADD  CONSTRAINT [FK_FactInventory_Store] FOREIGN KEY([StoreKey])
REFERENCES [dbo].[Dim_Store] ([StoreKey])
GO
ALTER TABLE [dbo].[Fact_Inventory] CHECK CONSTRAINT [FK_FactInventory_Store]
GO
ALTER TABLE [dbo].[Fact_Sales]  WITH CHECK ADD  CONSTRAINT [FK_FactSales_Customer] FOREIGN KEY([CustomerKey])
REFERENCES [dbo].[Dim_Customer] ([CustomerKey])
GO
ALTER TABLE [dbo].[Fact_Sales] CHECK CONSTRAINT [FK_FactSales_Customer]
GO
ALTER TABLE [dbo].[Fact_Sales]  WITH CHECK ADD  CONSTRAINT [FK_FactSales_Date] FOREIGN KEY([DateKey])
REFERENCES [dbo].[Dim_Date] ([DateKey])
GO
ALTER TABLE [dbo].[Fact_Sales] CHECK CONSTRAINT [FK_FactSales_Date]
GO
ALTER TABLE [dbo].[Fact_Sales]  WITH CHECK ADD  CONSTRAINT [FK_FactSales_Product] FOREIGN KEY([ProductKey])
REFERENCES [dbo].[Dim_Product] ([ProductKey])
GO
ALTER TABLE [dbo].[Fact_Sales] CHECK CONSTRAINT [FK_FactSales_Product]
GO
ALTER TABLE [dbo].[Fact_Sales]  WITH CHECK ADD  CONSTRAINT [FK_FactSales_Staff] FOREIGN KEY([StaffKey])
REFERENCES [dbo].[Dim_Staff] ([StaffKey])
GO
ALTER TABLE [dbo].[Fact_Sales] CHECK CONSTRAINT [FK_FactSales_Staff]
GO
ALTER TABLE [dbo].[Fact_Sales]  WITH CHECK ADD  CONSTRAINT [FK_FactSales_Store] FOREIGN KEY([StoreKey])
REFERENCES [dbo].[Dim_Store] ([StoreKey])
GO
ALTER TABLE [dbo].[Fact_Sales] CHECK CONSTRAINT [FK_FactSales_Store]
GO
USE [master]
GO
